<settings>
    <setting propertyKey="@Properties.ColorTheme" title="@Strings.ColorThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ColorThemeOriginal</listEntry>
            <listEntry value="1">@Strings.ColorThemeRed</listEntry>
            <listEntry value="2">@Strings.ColorThemeGreen</listEntry>
        </settingConfig>
    </setting>
</settings>